{% extends 'app/base.html' %}

{% block content %}
    <h1>Categorias de Eventos</h1>
    {% if user.is_staff %}
        <a href="{% url 'criarCatEvento' %}" class="btn-novo">Nova Categoria</a>
    {% endif %}

    <div class="list-container">
        
        {% for categoria in obj_pagina %}
            <div class="card">
                
                <h3>{{ categoria.nome }}</h3>

                {% if user.is_staff %}
                    <div class="card-actions">
                        <a href="{% url 'atualizarCatEvento' categoria.id %}" class="btn-editar">Editar</a>
                        <a href="{% url 'apagarCatEvento' categoria.id %}" class="btn-danger">Apagar</a>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p>Nenhuma categoria cadastrada.</p>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if obj_pagina.has_previous %}
            <a href="?page={{ obj_pagina.previous_page_number }}">Anterior</a>
        {% endif %}
        <span class="page-current">
            Página {{ obj_pagina.number }} de {{ obj_pagina.paginator.num_pages }}.
        </span>
        {% if obj_pagina.has_next %}
            <a href="?page={{ obj_pagina.next_page_number }}">Próxima</a>
        {% endif %}
    </div>
{% endblock %}